/ports
/mlibc

/root/*
!/root/etc
/root/etc/localtime
!/root/root

# Executables
/**/*.bin
/**/*.elf

# Packages.
/**/*.tar.bz2
/**/*.tar.gz

# Produced images and qword
/qword
/qword.hdd

# Toolchain.
/host/echfs
/host/toolchain/build-toolchain
/host/toolchain/cross-root
